.menu-container{
    display: flex;
   background-color: #fa7caf;
     

    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 5px;
}

.menu-item-container{
  width: 80%;
  align-items: center;
}

.menu-img-item{
    margin: 40px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu-img-item:hover{
    /* color: #1affff; */
    color: white;
}

.logo-img{
    height: 50px;
    border-radius: 50%;
}