/* .login-heading-container{
    background-color: aqua;
    width: 35%;
    display: block;
    margin: 100px auto;
} */

.login-div{
    background-color: white;
    border: 1px solid black;
    width: 30%;
    height: 250px;
    display: block;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}

.input-box{
    display: block;
    margin:0 auto;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 90%;
}
.btn-1{
    display: block;
    margin: 20px auto;

}
.btn:hover{
    background-color: #ff66a3;
}